head, body {
  font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  line-height: 2;
}

p {
  font-family: "Montserrat";
  line-height: 1.5;
}

nav {
  background-color: #FCD900;
  padding: 2.5% 5%;
}

.navbar-brand {

}

.nav-item {

}

.container {
  padding: 7% 5%;
}

.container-fluid {
  padding: 5% 7%;
}

.title-1 {
  font-size: 4rem;
  color: #FCD900;
}

.auto-type {
  color: #FCD900;
}

.title-img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  box-shadow: 5px 10px 18px #FCD900;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* floating animation - start */
.floating-img{
  transform: translateY(-10%);
  animation: floater 3s infinite alternate;
  /* transition: ease 0.7s; */
  /* width: 80px;
  height:80px; */
}

@keyframes floater {
  0%{transform: translateY(-10%);transition: ease 0.5s;}
  50%{transform: translateY(10%);transition: ease 0.5s;}
}

/* floating animation - end */

.explore-button {
  background-color: #FCD900;
  border: none;
  border-radius: 30px;
  color: #000;
  font-weight: 400;
  padding: 15px 30px;
  margin: 7% 0;
  width: 150px;
  transition: width 0.5s;
}

a .explore-button:link {
  color: #000;
}

a .explore-button:hover {
  color: #FCD900;
}

.explore-button:hover {
  background: #000;
  color: #FCD900;
  width: 180px;
  font-weight: bold;
}

.what-we-do {
  background-color: #FCD900;
  text-align: center;
}

.resources-img {
  width: auto;
  height: 50px;
  display: inline-block;
  justify-content: space-between;
  margin: 25px 20px;
  border-radius: 30px;
}

.section-title {
  text-align: left;
}

.video-title-1 {
  color: #FCD900;
}

.vid-container {
  margin: 4% 0;
  text-align: center;
}

iframe, .book-img, .testimonial-img {
  margin-bottom: 20px;
}

.carousel-indicators {
  margin-top: 50%;
}

.carousel-navbtn {
  color: #FCD900;
}

.vid-btn {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 0;
}

.viewmore-vid-btn {
  text-align: center;
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
  background-color: #FCD900;
  width: 120px;
  transition: width 1s;
}

.viewmore-vid-btn:hover {
  background: #000;
  color: #FCD900;
  width: 150px;
}

.viewmore-btn {
  text-align: center;
}

.book-image00 {
  height: 200px;
  width: 140px;
  transition: width 1.5s;
}

.book-image00:hover {
  height: 250px;
  width: 180px;
}

.book-text {
  font-size: 12px;
}

.cardbox {
  margin-bottom: 5%;
}

.card-img {
  width: 255px;
  height: 150px;
}

.card-title {
  font-weight: bold;
  color: #FCD900;
}

.card-title, .card-text {
  text-align: left;
}

.testimonial, .testimonial-text {
  text-align: center;
}

.testimonial-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.learn-transform {
  line-height: 2;
  background-color: #FCD900;
  text-align: center;
}

.learn-image {
  border-radius: 10% 10% 10% 0;
  padding-right: 20px;
  box-shadow: 5px 10px 18px #FFF;
}

.trans-text {
  padding-top: 7%;
  color:#000;
}

.trans-char {
  color: #FFF;
}

.btm-explore-button {
  background-color: #FFF;
  border: none;
  border-radius: 30px;
  color: #000;
  font-weight: 400;
  padding: 15px 30px;
  margin: 7% 0;
  width: 200px;
  transition: width 0.5s;
}

a .btm-explore-button:link {
  color: #000;
}

a .btm-explore-button:hover {
  color: #FCD900;
}

.btm-explore-button:hover {
  background: #000;
  color: #FCD900;
  width: 220px;
  font-weight: bold;
}


.ads-container {
display: flex;
justify-content: center;
align-items: center;
}

.bottom-ads {
  height: 150px;
  width: 500px;
}

footer {
  background-color: #F5F5F5;
  font-family: "Montserrat";
}

.footer-1 {
  line-height: 2.5;
  margin-bottom: 5%;
  font-size: 14px;
}

.footer-1 a {
  color: #000;
}

.footer-2 {
  text-align: center;
  line-height: 2;
}

.social-icon {
  margin: 20px 10px;
  color: #FCD900;
}

.cnjp {
  font-family: 'Dancing Script', cursive;
}

a:link, .cnjp a {
  text-decoration: none;
}

.aff-text, .support-text {
  font-size: 12px;
  text-align: center;
  line-height: 1;
}

.support {
  text-align: center;
  margin: 0 5% 5%;
}

.support-img {
  width: 100px;
  height: 75px;
  border-radius: 30px;
  margin: 2.5% 7%;
}


/* About page */


.advisors {
  text-align: center;
  line-height: 1.5;
}

.advisor-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}



/* Resources page */
.top-ad {
  background-color: #EEEEEE;
}

.spec-subtitle {
  font-size: 15px;
}

.filter-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5%;
}

.filter-box {
  border-radius: 10px;
  box-shadow: 5px 10px 8px #F1EEE9;
  margin: 0.5% 2.5%;
  height: 70px;
  width: 210px;
  word-wrap: break-word;
  padding-top: 2.4%;
  line-height: 0.9;
  transition: 0.5s;
}

.filter-box:hover {
  height: 80px;
  width: 220px;
  background-color: #FCD900;
}

.filter-box a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
}


/* Books page */
.book-image01 {
  height: 200px;
  width: 140px;
}

.book-image01-portrait {
  height: 200px;
  width: 140px;
}

.book-image01-landscape {
  height: 140px;
  width: 200px;
}



/* Course page */
.courses-institutions-array {
  margin-bottom: 5%;
}

.uni-img {
  width: auto;
  height: 50px;
  display: inline-block;
  justify-content: space-between;
  margin: 25px 20px;
  border-radius: 30px;
}

.card-course-text {
  font-size: 14px;
}

.courses-box {
  margin-top: 1%;
  margin-bottom: 1%;
}

.courses-cont {
  padding: 2% 7%;
  margin
}


/* Contact page */













/* Media Query for responsiveness */


@media {

}
